/* GLOBAL STYLES
-------------------------------------------------- */

• { font-family: Futura; src: local('Futura Std'); }


/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

.nav-link {
    color: #28a745;
    width: 15%;

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.nav-link:hover {
    background-color: #000000BB;
}

.bg-dark {
  background: #3e3440!important;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  bottom: 50px;
  position: unset;
  margin-top: 64px;
}

.carousel-inner {
}

.carousel-control-next{
  height: 370px;
}

.carousel-control-prev{
  height: 370px;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  background: #00000080;
  width: 100%;
  left: 0%;
}

.carousel-indicators     {
  bottom: -55px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
}

.active {
  margin-left: 0%;
  margin-right: 0%;
  width: 100%;
    height: auto;
  max-width: 100%
}

.carousel-item > img {
  position: absolute;
  top: -40px;
  left: 0;
  min-width: 100%;
  height: auto;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}

.main-logo {
    height: 25px;
}


/* GALLERY STUFF */
.main-bg {
    background: #332a34;
    margin-top: 42px;
}

.card {
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    background: #736988;
}

.card-img-top {
    height: 120px;
}

.gallery-btn {
    font-size: .8rem;
    position: absolute;
    width: 100%;
    font-weight: 300;
    height: auto;
    background-color: #00000000;
    color: #00000000;
    white-space: normal;
}

.gallery-btn:hover {
    background-color: #000000BB;
    color: #28a745;
    font-weight: 400;
}

.btn-outline-dark {
    color: #343a4000;
}

.btn-outline:active {
    background-color: #000000D0;
}

.btn-outline-dark:hover {
    background-color: #00000080;
    color: #28a745;
    font-weight: 400;
}
.top-bar-right-side {
    margin-left: auto;
    margin-right: 0;
}

/* NAV BAR STUFF */

.nav-bar-selector {
    text-align: center;
    width: 100%;
    padding: 0px;
    font-size: .75rem;
}

.nav-link-selector a.active-link {
  color: #28a745;
}

.nav-link-selector a.active-link {
  color: #28a745;
}

.navbar-dark .navbar-brand {
  color: #28a745;
}

.navbar-dark:hover .navbar-brand:hover {
  color: #c8ed07;
}

.nav-link {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 8px 0px 5px;
}

.nav-link:hover {
  color: #c8ed07;
}


.green-text {
  color: #28a745;
  border-color: #28a745;
}

.btn-outline-success:hover {
    color: #28a745;
    background-color: #c8ed07;
    border-color: #c8ed07;
}

#disconnect {
    display: none;
}

.deposit-div {
    padding-right: 6px;
    padding-left: 6px;
    display: inline-flex;
    align-items: center;
}

.money-transfer {
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.stickyMiddle {
  position: fixed;
  top: 100px;
  width: 100%;

}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.stickyMiddle + .content {
  padding-top: 60px;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.fixed-top {
    height: 64px;
}

.fixed-middle {
    height: 132px;
    top: 219px;
    position: absolute;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 0.2rem;
}