{% extends "layout.html" %}
{% block daily %}
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>Date</th>
        <th>Game Type</th>
        <th>Table ID</th>
        <th>Table Name</th>
        <th>Count</th>
        <th>Currency</th>
        <th>Wager</th>
        <th>Payout</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ daily_report[0].date }}</td>
        <td>{{ len }}</td>
        <td>john@example.com</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>Doe</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>

    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-8 me-auto">
          <div class="account-heading-small">User ID</div>
          <font color="grey">{{ UA_payload.player.id }}</font>
        </div>
      </li>

    </ol>
{% endblock daily %}
