{% extends "layout.html" %}
{% block content %}

<div class="input-group mb-3 money-transfer">
  <input type="text" class="form-control" placeholder="Amount" aria-label="Amount" aria-describedby="basic-addon2">
  <button class="btn btn-outline-success top-bar-right-side" id="deposit" name="withdraw" href="/withdraw" style="border-radius: 0px;">
        Withdraw
  </button>
  <button class="btn btn-outline-success top-bar-right-side" id="deposit" name="deposit" href="/deposit" style="border-radius: 0px 5px 5px 0px;">
        Deposit
  </button>
</div>


{% endblock content %}

