{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Fund Transfer</legend>
                <div class="form-group">


                </div>
            </fieldset>
            <div class="form-group">
                {{ form.add(class="btn btn-outline-info") }}
                {{ form.subtract(class="btn btn-outline-info") }}
            </div>

        </form>
    </div>
{% endblock content %}
