{% extends "layout.html" %}
{% block content %}

  <div class="album py-5 gallery-bg">
    <div class="container">
      <form action="" method="post">
        <div class="row">
            {% for k in icon_files %}
            <div class="col">
              <div class="card shadow-sm thumb">
                    <img src="{{ icon_path }}{{ k }}">
                    {% for game_title in game_titles %}
                        {% if game_title.lower() == k.split(".")[0].lower() %}
                            <button type="submit" name="launch" value="{{ k }}" class="btn-outline btn gallery-btn">
                                Play now<br><br><br>
                                {% if game_titles[game_title]['ja']|length > 0 %}
                                    {{ game_titles[game_title]['ja'] }}
                                {% else %}
                                    {{ game_titles[game_title]['en'] }}
                                {% endif %}
                            </button>
                        {% endif %}
                    {% endfor %}



              </div>
            </div>
            {% endfor %}
        </div>
      </form>
    </div>
  </div><!-- /.container -->

{% endblock content %}

