{% extends "userinfo.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ ow_form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">userid management</legend>
<!--                D-->
                <div class="form-group">
                    {{ ow_form.userID.label(class="account-heading-small") }}
                    {{ ow_form.userID(class="form-control form-control-sm") }}
                </div>
                <div class="form-group">
                    {{ ow_form.add_userid(class="btn btn-outline-info") }}
                    {{ ow_form.find_userid(class="btn btn-outline-info") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
