<!DOCTYPE html>
<html lang="en">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid" id="top_bar">
      <a class="navbar-brand" href="/">
        <img src="static/icons/ui/favicon.png" style="height: 25px;">
        <img src="static/icons/ui/main_title.png" style="height: 30px;">
      </a>

      <div class="navbar-dark navbar-brand top-bar-right-side" id="top_bar_right" style="display: inline-block;padding-right: 0px;">
        <div class="btn top-bar-right-side deposit-div" id="balance" style="display: inline-block;padding-right: 0px;"></div>

    <!--      Wallet Button-->

        <button class="btn btn-outline-success" id="login" name="login" value="connect" >
          <i class="bi bi-wallet2"></i>
          Connect
        </button>
        <!--      <div id="disconnect">-->
        <button id="disconnect" class="btn btn-outline-success">
          <i class="bi bi-x-circle"></i>
        </button>
      </div>
      <!--      open phantom-->
      <script language="JavaScript" type="text/javascript" src="/static/phantom.js"></script>
    <!--      -->
    </div>
  </nav>
</html>