{% extends "layout.html" %}
{% block userinfo %}
    <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="account-heading-small">Name</div>
            {{ userdata.name }}
        </div>
      </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="account-heading-small">E-mail/Login ID</div>
            {{ userdata.emailaddress }}
        </div>
      </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="account-heading-small">Screen Name</div>
            {{ userdata.screenname }}
        </div>
      </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="account-heading-small">Country Code</div>
            {{ userdata.countrycode }}
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="account-heading-small">euid</div>
          {{ userdata.euid }}
        </div>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="account-heading-small">uid</div>
          {{ userdata.uid }}
        </div>
      </li>
        <span class="badge bg-primary rounded-pill"> </span>
    </ol>
{% endblock userinfo %}
